# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Uploads
backend/app/static/uploads/

# Next.js
.next/
out/
build/
dist/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
docker-compose.override.yml
